<form class="filter-form">
  <label
    for="select"
    style="display: flex; visibility: hidden; width: 0; height: 0"
    >Filter by region</label
  >
  <app-button
    label="Filter by region"
    class="filter-btn"
    [icon]="chevronUp"
    role="combobox"
    aria-controls="listbox"
    aria-haspopup="listbox"
    aria-expanded="false"
    tabindex="0"
    id="select"
    disabled
  />
  <ul
    role="listbox"
    id="listbox"
    class="filter-listbox"
    [class.active]="isOpen === true"
  >
    <li role="option" class="listbox-item">Option1</li>
    <li role="option" class="listbox-item">Option2</li>
    <li role="option" class="listbox-item">Option3</li>
  </ul>
</form>
