header.header {
  width: 100%;
  margin: 0;
  height: 80px;
  background-color: #ffffff;

  .header-inside {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    padding-left: 16px;
    padding-right: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (min-width: 576px) {
      padding-left: 80px;
    }

    h1.title {
      font-size: 14px;
      line-height: 80px;
      margin: 0;
      font-weight: 500;

      @media (min-width: 576px) {
        font-size: 24px;
      }
    }
  }
}
