<app-button label="Back" class="back-btn" />

<article class="country-article">
  <div class="card-img">
    <img
      class="country-flag"
      [src]="countryData.flags.svg"
      alt="{{ countryName }}"
    />
  </div>

  <section class="info">
    <h1 class="country-name">{{ countryData.name }}</h1>
    <div class="box">
      <div class="info__section--one">
        <p>
          <span class="info-title">Native name: </span
          >{{ countryData.nativeName }}
        </p>
        <p>
          <span class="info-title">Population: </span
          >{{ countryData.population }}
        </p>
        <p><span class="info-title">Region: </span>{{ countryData.region }}</p>
        <p>
          <span class="info-title">Sub Region: </span
          >{{ countryData.subregion }}
        </p>
        <p>
          <span class="info-title">Capital: </span>{{ countryData.capital }}
        </p>
      </div>
      <div class="info__section--two">
        <div class="info-list">
          <span class="info-title">Top Level Domain: </span>
          <ul class="list">
            @for (domain of countryData.topLevelDomain; track countryData) {
            <li class="list-item">{{ domain }}</li>
            }
          </ul>
        </div>

        <div class="info-list">
          <span class="info-title">Currencies: </span>
          <ul class="list">
            @for (curr of countryData.currencies; track countryData) {
            <li class="list-item">{{ curr.name }}</li>
            }
          </ul>
        </div>
        <div class="info-list">
          <span class="info-title">Languages: </span>
          <ul class="list">
            @for (lang of countryData.languages; track countryData) {
            <li class="list-item">{{ lang.name }}</li>
            }
          </ul>
        </div>
      </div>
    </div>
    <div class="info__section--three">
      <p class="section-title">Border Countries</p>
      <div class="borders">
        @for (country of countryData.borders; track countryData) {
        <!-- <li class="borders-item">{{ country }}</li> -->
        <button class="country-btn">{{ country }}</button>
        }
      </div>
    </div>
  </section>
</article>
