section.tools {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 40px;

  @media (min-width: 767px) {
    flex-direction: row;
  }
}
section.countries {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  padding-top: 48px;

  @media (min-width: 767px) {
    padding-top: 24px;
    gap: 74px;
  }
  a.country-link {
    text-decoration: none;
    color: #111517;
  }
}
