.search-box {
  display: flex;
  flex-direction: column;
  position: relative;
  input[type="search"] {
    height: 48px;
    border: none;
    background: white;
    font-size: 12px;

    width: 343px;
    padding: 24px 16px;
    padding-left: 74px;

    @media (min-width: 576px) {
      height: 56px;
      font-size: 14px;
      padding: 18px 32px;
      padding-left: 74px;
      width: 480px;
    }
  }
  .search-icon {
    position: absolute;
    left: 32px;
    top: 14px;

    @media (min-width: 576px) {
      top: 18px;
    }
  }
}
